/* ---------------------------------- */
/* --- Front style plugin "ILIST" --- */
/* ---  GRID STYLE for User list  --- */
/* ---------------------------------- */

.ilist-table thead {
    display: none;
}

.ilist-table tr {
	display: grid;
	max-width: 200px;
	float: left;
	text-align: center;
	padding: 1em;
	border: 1px solid #eee;
	margin-right: 1em;
}

.ilist-table td.ilist-image div.custom-img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}